#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.task-item button {
  margin-left: 1rem;
}

.task-list {
  margin-top: 1rem;
  text-align: left;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.task-input {
  margin-bottom: 1rem;
  display: flex;  
  justify-content: center;
  gap: 10px;
}

input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-buttons button {
  margin: 4px;
  
}

.checkbox {
  width: 20px;
  height: 20px;
}


