body {
    background-color: #f4f4f4; /* Light gray background */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bangers', cursive; /* Use comic font for all headers */
}

/* Style the header to make it pop */
.header-content {
    background-color: #d92323 !important; /* Comic book red */
    color: #ffffff;
    border-bottom: 4px solid #000000; /* Thick black border */
}

.header-content h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Style the main navbar */
.navbar {
    border-bottom: 2px solid #000000;
}

/* Style the footer */
footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    background-color: #333;
    color: #ffffff;
    border-top: 4px solid #000000;
}

.card-title {
    color: #d92323; /* Red title */
}

.hero-image {
    background-image: url('../images/HeroImage.jpg'); /* Path to your hero image */
    background-size: cover;
    background-position: center;
    height: 300px;
    border: 4px solid #000000; /* Black border */
    margin-bottom: 20px;
}

.hero-text {
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    padding: 100px 20px;
    font-family: 'Bangers', cursive;
}

.card {
  transition: transform 0.3s ease-in-out; /* Smooth transition for the transform property */
}

.card:hover {
  transform: scale(1.05); /* Enlarge the card by 5% on hover */